body {
	background-color: #000000;
	font-size: 12px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	color:#FFFFFF;
	padding:0px;
	margin:0px;
}
a:link {color: #7777FF; text-decoration: none; }
a:active {color: #7777FF; text-decoration: none; }
a:visited {color: #7777FF; text-decoration: none; }
a:hover {color: #7777FF; text-decoration: underline; }
#top {
	height: 75px;
	text-align: center;
}
#loader {
	height: 15px;
	text-align: center;
}
#toolbar {
	height: 20px;
	line-height: 20px;
	vertical-align: bottom;
	background-color: #333333;
}
#toolbar ul {
	width:100%;
	padding:0px;
	margin:0px;
	list-style-type:none;
}
#toolbar a {
	float:left;
	width:6em;
	text-decoration:none;
	color:white;
	background-color:purple;
	padding:0.2em 0.6em;
	border-right:1px solid white;
}
#toolbar a:hover {background-color:#ff3300;}
#toolbar li {display:inline;}
#rtoolbar { float:right; }
#content {
	padding:5px;
	margin: 10px 230px 0px 230px;
	color: #000000;
	background-color: #ffffff;
	background-image: url(images/bg.jpg);
	min-width: 500px;
	opacity:0;
}
#sidebar{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 220px;
	bottom: 0px;
	background-color: #111111;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
#modules {
	position: absolute;
	top: 120px;
	right: 0px;
	width: 220px;
	bottom: 0px;
	background-color: #111111;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
#bottom {
	font-size: 10px;
	text-align: center;
	min-width:500px;
	opacity:0;
}
#error {background-color: #FF6666;}
#login {
	float:right;
	top: 120px;
	right: 0px;
	width: 220px;
	bottom: 0px;
	background-color: #555555;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
