body {
	background-color: #000000;
	font-size: 12px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	color:#FFFFFF;
	padding:0px;
	margin:0px;
}
	
a:link {color: #7777FF; text-decoration: none; }
a:active {color: #7777FF; text-decoration: none; }
a:visited {color: #7777FF; text-decoration: none; }
a:hover {color: #7777FF; text-decoration: underline; }

#top {
	text-align: center;
}
#toolbar {
	padding: 5px;
	background-color: #333333;
}
#content {
	padding:5px;
	margin: 0px 200px 0px 200px;
	border-left: 2px solid #564b47;
	border-right: 2px solid #564b47;
	border-bottom: 2px solid #564b47;
	border-top: 2px solid #564b47;
	color: #000000;
	background-color: #ffffff;
	background-image: url(bg.jpg);
	min-width: 500px;
}
#main {
	padding:5px;
}
#bottom {
	font-size: 10px;
	text-align: center;
}
#error {
	background-color: #FF6666;
}